In [8]:
#!pip install --upgrade yahoo-finance

https://github.com/ranaroussi/yfinance

In [9]:
import yfinance as yf

In [10]:
msft = yf.Ticker("MSFT")

In [13]:
hist = msft.history(period="max")

In [14]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.057158,0.065563,0.057158,0.062761,1031788800,0.0,0.0
1986-03-14,0.062761,0.066124,0.062761,0.065003,308160000,0.0,0.0
1986-03-17,0.065003,0.066684,0.065003,0.066124,133171200,0.0,0.0
1986-03-18,0.066124,0.066684,0.063882,0.064443,67766400,0.0,0.0
1986-03-19,0.064443,0.065003,0.062762,0.063322,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2019-09-05,139.110001,140.380005,138.759995,140.050003,26101800,0.0,0.0
2019-09-06,140.029999,140.179993,138.199997,139.100006,20824500,0.0,0.0
2019-09-09,139.589996,139.750000,136.460007,137.520004,25773900,0.0,0.0
2019-09-10,136.800003,136.889999,134.509995,136.080002,28890800,0.0,0.0
2019-09-11,135.910004,136.210007,135.089996,135.639999,11209420,0.0,0.0