## Y-Finance Python scrapper
Test of package to download data from Yahoo APIs.

In [1]:
#!pip install yfinance --upgrade --no-cache-dir

https://github.com/ranaroussi/yfinance

In [25]:
import yfinance as yf
from datetime import date
%matplotlib inline

In [26]:
str(date.today())

'2019-09-11'

In [31]:
data = yf.download("SPY AAPL", start="2000-01-01", end=str(date.today()))

[*********************100%***********************]  2 of 2 downloaded

In [32]:
data

           Adj Close           Close            High             Low          \
                AAPL     SPY    AAPL     SPY    AAPL     SPY    AAPL     SPY
Date
2000-01-03      3.49  100.93    4.00  145.44    4.02  148.25    3.63  143.88
2000-01-04      3.19   96.99    3.66  139.75    3.95  144.06    3.61  139.64
2000-01-05      3.24   97.16    3.71  140.00    3.95  141.53    3.68  137.25
2000-01-06      2.96   95.60    3.39  137.75    3.82  141.50    3.39  137.75
2000-01-07      3.10  101.15    3.55  145.75    3.61  145.75    3.41  140.06
...              ...     ...     ...     ...     ...     ...     ...     ...
2019-09-04    209.19  294.04  209.19  294.04  209.48  294.06  207.32  292.31
2019-09-05    213.28  297.82  213.28  297.82  213.97  298.83  211.51  294.00
2019-09-06    213.26  298.05  213.26  298.05  214.42  298.76  212.51  297.42
2019-09-09    214.17  298.20  214.17  298.20  216.44  299.24  211.07  297.16
2019-09-10    216.70  298.13  216.70  298.13  216.78  298.20  211.71  295.97

              Open             Volume
              AAPL     SPY       AAPL       SPY
Date
2000-01-03    3.75  148.25  133949200   8164300
2000-01-04    3.87  143.53  128094400   8089800
2000-01-05    3.71  139.94  194580400  12177900
2000-01-06    3.79  139.62  191993200   6227200
2000-01-07    3.45  140.31  115183600   8066500
...            ...     ...        ...       ...
2019-09-04  208.39  293.14   19188100  46887300
2019-09-05  212.00  296.79   23913700  83258100
2019-09-06  214.05  298.17   19362300  49584300
2019-09-09  214.84  299.14   27309400  51260300
2019-09-10  213.86  297.36   31693800  57829900

[4953 rows x 12 columns]

In [59]:
ticker=yf.Ticker('AAPL')

In [60]:
ticker.info

{'ask': 222.72,
 'askSize': 12,
 'averageDailyVolume10Day': 23581716,
 'averageDailyVolume3Month': 25487054,
 'bid': 222.68,
 'bidSize': 9,
 'bookValue': 21.286,
 'currency': 'USD',
 'dividendDate': 1565827200,
 'earningsTimestamp': 1564531200,
 'earningsTimestampEnd': 1572886800,
 'earningsTimestampStart': 1572447540,
 'epsForward': 12.78,
 'epsTrailingTwelveMonths': 11.777,
 'esgPopulated': False,
 'exchange': 'NMS',
 'exchangeDataDelayedBy': 0,
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'fiftyDayAverage': 207.004,
 'fiftyDayAverageChange': 15.445999,
 'fiftyDayAverageChangePercent': 0.07461691,
 'fiftyTwoWeekHigh': 233.47,
 'fiftyTwoWeekHighChange': -11.020004,
 'fiftyTwoWeekHighChangePercent': -0.047200944,
 'fiftyTwoWeekLow': 142.0,
 'fiftyTwoWeekLowChange': 80.45,
 'fiftyTwoWeekLowChangePercent': 0.5665493,
 'fiftyTwoWeekRange': '142.0 - 233.47',
 'financialCurrency': 'USD',
 'forwardPE': 17.406103,
 'fullExchangeName': 'NasdaqGS',
 'gmtOffSetMilliseconds': -14400000,
 'language': 'en-US',
 'longName': 'Apple Inc.',
 'market': 'us_market',
 'marketCap': 968364916736,
 'marketState': 'REGULAR',
 'messageBoardId': 'finmb_24937',
 'priceHint': 2,
 'priceToBook': 10.450531,
 'quoteSourceName': 'Nasdaq Real Time Price',
 'quoteType': 'EQUITY',
 'region': 'US',
 'regularMarketChange': 5.75,
 'regularMarketChangePercent': 2.6534379,
 'regularMarketDayHigh': 223.155,
 'regularMarketDayLow': 217.73,
 'regularMarketDayRange': '217.73 - 223.155',
 'regularMarketOpen': 213.86,
 'regularMarketPreviousClose': 216.7,
 'regularMarketPrice': 222.45,
 'regularMarketTime': 1568224238,
 'regularMarketVolume': 31156910,
 'sharesOutstanding': 4519179776,
 'shortName': 'Apple Inc.',
 'sourceInterval': 15,
 'symbol': 'AAPL',
 'tradeable': True,
 'trailingAnnualDividendRate': 2.96,
 'trailingAnnualDividendYield': 0.013659437,
 'trailingPE': 18.88851,
 'triggerable': True,
 'twoHundredDayAverage': 196.52261,
 'twoHundredDayAverageChange': 25.927383,
 'twoHundredDayAverageChangePercent': 0.13193078}

In [63]:
ticker.financials

,9/29/2018,9/30/2017,9/24/2016,9/26/2015
,,,,
Total Revenue,265595000,229234000,215639000,233715000
Cost of Revenue,163756000,141048000,131376000,140089000
Gross Profit,101839000,88186000,84263000,93626000
Operating Expenses,-,-,-,-
Research Development,14236000,11581000,10045000,8067000
Selling General and Administrative,16705000,15261000,14194000,14329000
Non Recurring,NaN,NaN,NaN,NaN
Others,NaN,NaN,NaN,NaN
Total Operating Expenses,194697000,167890000,155615000,162485000
Operating Income or Loss,70898000,61344000,60024000,71230000
Income from Continuing Operations,-,-,-,-
Total Other Income/Expenses Net,2005000,2745000,1348000,1285000
Earnings Before Interest and Taxes,70898000,61344000,60024000,71230000
Interest Expense,-3240000,-2323000,-1456000,-733000
Income Before Tax,72903000,64089000,61372000,72515000
Income Tax Expense,13372000,15738000,15685000,19121000
Minority Interest,NaN,NaN,NaN,NaN
Net Income From Continuing Ops,59531000,48351000,45687000,53394000
Non-recurring Events,-,-,-,-
Discontinued Operations,NaN,NaN,NaN,NaN
Extraordinary Items,NaN,NaN,NaN,NaN
Effect Of Accounting Changes,NaN,NaN,NaN,NaN
Other Items,NaN,NaN,NaN,NaN
Net Income,-,-,-,-
Net Income,-,-,-,-
Preferred Stock And Other Adjustments,NaN,NaN,NaN,NaN
Net Income Applicable To Common Shares,59531000,48351000,45687000,53394000